body {
    font-family:"Pixelify Sans";
    text-align: center;
    padding: 20px;
    background-image:url(./fondopokedex/kanto-map.jpeg);
    margin: 0;
    padding: 0;
    background-size: cover;             
    background-position: center;        
  }
